@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

//colours
$ari: #FFBF00;
$white: #FFFFFF;

* {
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: 400;
}

body {
  background-color: $ari;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;

  .content-box {
    background-color: white;
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em;
    text-align: center;

    .bold {
      font-weight: 600;
    }

    h3 {
      padding: 0 5em;
    }

    .services {
      line-height: 2em;
      span {
        padding: 0 1em;
        display: inline-block;
      }
    }

    .slider, #left-slide, #right-slide {
      display: inline;
      padding: 1.5em;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 600px) {
    .content-box {
      padding: 2em;

      h1 {
        font-size: 1.5em;
      }

      h2 {
        font-size: 1em;
      }

      h3 {
        padding: 0;
        font-size: 1em;
      }
    }
  }

  .border-strip {
    background-color: $ari;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: inline-block;
      font-size: 2em;
      padding: 1vw;
      color: $white;
      text-decoration: none;
      font-weight: 600;
    }
  }

  .links {
    justify-content: flex-end;
    width: 90vw;

    a {
      font-size: 1.5em;
    }
  }

  .social {
    text-align: center;
  }
}